---
#
# Wi-Se firmware configuration
#
# Provided values are the defaults and they can be omitted.
# Commented-out values also show the default value of each parameter, but most users won't need to change them
#

# Give it a name :)
name: "Wi-Se"

# If enabled, builder.py will not use this configuration when building all configs. It will still use it if requested explicitly.
ignore_unless_requested: false

#
# Board configuration
#
board:
  # Board type. Available types:
  # - generic                 for generic boards such as an ESP8266 breakout (you need to configure the LEDs)
  # - esp32dev                as above, but for ESP32 mcu
  # - wi-se-rpi-v0.1          Wi-Se Raspi Header v0.1
  # - wi-se-opi4-v0,1         Wi-Se Orange Pi 4 v0,1
  # - wi-se-rewirable-v0.1    Wi-Se Rewirable v0,1
  type: generic

  # Optional gpio used by ESP32 to probe his vcc.
  # ESP8266 use internal adc mode to get his vcc, so don't need it.
  # This need to be gpio from ADC1 group as ADC2 is not active when Wi-Fi is used.
  # adc_input: 32

  # LEDs need to be configured only for generic boards. For Wi-Se boards the LED config is baked-in
  # See project homepage for LED meaning
  leds:
    wifi: 5
    status: 13
    tx: 14
    rx: 12
    # On/off timings in milliseconds for RX/TX LEDs
    #on_time: 15
    #off_time: 15

  # Optional GPIOs connected to target device.
  # Below order is important!
  # Processing and the controls in the web UI will be rendered based on it.
  # The name field should be unique and used in REST queries.
  # The dval is a default value send by frontend to outputs.
  # The init flag can be used to schedule initial action based on dval after boot.
  # The inverted field can be used to invert the gpio state during write or read operations.
  # The color field accepts values literally, e.g. red, or as a hex value eg. "#FF0000".
  # Remember to enclose the hex values in quotation marks, if begins with # sign.
  #
  # If you use the same gpio multiple times to avoid misconfiguration use the same mode
  # in each entry, otherwise the last one be used.
  # In the case of the init field, the first one be used at boot time.
  #
  target:
    # # Input used to inform esp board that target device is powered, eg. 3v3 rail of ATX power supply.
    # - gpio: 13
    #   mode: INPUT
    #   name: power
    #   desc: Power
    #   color: "#FFA500"
    # # Input status on target device, eg. moterboard power led.
    # - gpio: 14
    #   mode: INPUT_PULLUP
    #   name: status
    #   desc: Status LED
    #   color: "#FAFAD2"
    #   inverted: true
    # # Output used to control power on target device, eg. moterboard ps_on button - short press.
    # - gpio: 4
    #   mode: OUTPUT
    #   name: ps_on
    #   desc: Power on
    #   dval: 1000
    #   init: true
    #   color: "#04AA6D"
    #   inverted: true
    # # Output used to control power on target device, eg. moterboard ps_on button - long press.
    # - gpio: 4
    #   mode: OUTPUT
    #   name: ps_off
    #   desc: Power off
    #   dval: 10000
    #   color: red
    #   inverted: true
    # # Output to reset target board, eg, moterboard reset button.
    # - gpio: 12
    #   mode: OUTPUT
    #   name: reset
    #   desc: Reset
    #   dval: 1000
    #   #color: "#f44336"

  # CPU frequency in Hz. Overclocking it higher than this won't provide noticeable improvements. Don't fry your ESPs
  #cpu_freq: 160000000

  # Flash size in MB on your board.
  # flash_size: 4MB

#
# Upload (flashing) configuration
#
upload:
  # One of 'serial' or 'ota'. In order to use OTA you first need to flash the board through serial with OTA enabled.
  method: serial

  # Serial upload config
  # Hint: you can keep both sections for convenience, and only change the method when needed
  serial:
    # i.e. /dev/ttyUSB#, /dev/ttyACM# on Linux, COM# on Windows
    port: 'change/me'
    # If flashing isn't successful at this rate, try with 460800
    baud: 921600

  # OTA upload config
  ota:
    # IP address of the board
    address: '192.168.xx.xx'
    # Password for OTA. You should set this to the same value as .ota.password, unless you are changing it
    password: ''
    # Optional host port. You can set this if you need to allow it in the firewall
    #host_port: 8266

#
# UART (serial) configuration
#
uart:
  # UART used for normal configuration
  uart_comm:
    # Serial object name to use (0 or 1)
    serial: 0
    baud: 115200
    #config: '(UART_NB_BIT_8 | UART_PARITY_NONE | UART_NB_STOP_BIT_1)'

    # Additional gpio that can be used to disable debug output at boot time on tx line of serial 0.
    # Below hardware is required:
    # https://github.com/nopnop2002/esp8266-mqtt-uart-bridge?tab=readme-ov-file#add-a-circuit
    #                 2 x Schottky diodes 1N5819 or BAS85 (1n4148 won't work!)
    # 3v3 ---[1k]---,       /
    # tx_en --------*---(>|)---,
    # gnd ---[1k]--------------|
    # esp8266_tx -------(>|)---*---> RX_TARGET
    #
    # NOTE: GPIO15 is pulled down and cannot be used for this.
    # tx_en: 5

  # UART used for debugging messages, if enabled
  # It can be set to the same UART used for communication, in which case baud/config are ignored
  uart_debug:
    serial: 0
    baud: 115200
    #config: '(UART_NB_BIT_8 | UART_PARITY_NONE | UART_NB_STOP_BIT_1)'

  # Advanced UART configuration
  advanced:
    ## Buffering configuration - buffering is necessary. Don't reduce it unless you want terrible performance and data loss
    ## Leave default values if unsure, so that any adjustment to the defaults in new firmware releases will be applied automatically
    #rx_buf_size: 10240
    #rx_soft_min: '(WS_SEND_BUF_SIZE * 3 / 2)'
    #buffer_below_soft_min_dynamic_delay: '(std::min((int) (1000L * WS_SEND_BUF_SIZE * 8L * 2 / 3 / uartBaudRate), 5))'

    # Automatic baud rate detection configuration
    #autobaud:
    #  # Max time in milliseconds the detection can run for
    #  timeout: 10000
    #  attempt_interval: 100

    # Software flow control enables requesting the device connected to the UART to stop sending data when the Wi-Fi can't keep up.
    # This will noticeably reduce the bandwidth during periods of high throughput, but it will increase reliability by orders of magnitude.
    # Disable it if the device you're connecting does not support software flow control since in that case it will only make things worse.
    flow_control:
      enable: true
      #low_watermark: 'UART_RX_SOFT_MIN + 1'
      #high_watermark: 'WS_SEND_BUF_SIZE - 1'
      #local_max_stop_time: 500
      #heap_free_low_watermark: 4096
      #heap_free_high_watermark: 10240
      #ws_max_stop_time: 500

#
# Wireless network configuration
#
wifi:
  # Wi-Fi mode. One of WIFI_STA (client mode), WIFI_AP (access point/hotspot)
  mode: WIFI_AP
  # Network name
  # In AP mode it can be omitted or set to null, in which case it will be automatically generated.
  # In STA mode it must be specified.
  ssid: null
  password: "ChangeMeASAP"
  # Device hostname - customize
  hostname: "Wi-Se"

  # AP specific configuration
  ap:
    channel: 6
    hide_ssid: false
    max_clients: 6

#
# OTA (Over-The-Air, Wireless) update configuration
#
ota:
  enable: false
  # Password MUST be provided if OTA is enabled
  password: ""
  # Enable atomic updates. Atomic updates increase the flashing time by a few seconds and double the flashing-caused wear on the SPI flash
  # However they will prevent bricking in case power is lost while an update is being installed.
  #atomic: true

#
# Web server configuration
#
http:
  port: 80
  # HTTP authentication configuration
  # Wi-Se uses the "Digest" authentication mechanism
  auth:
    enable: false
    user: ""
    password: ""

  # CORS - set allowed domain or * to allow all origins
  # cors_allow_origin: "*"

#
# WebSocket configuration
#
ws:
  # The ESP8266 can safely handle up to 3 clients; more when UART throughput is low
  max_clients: 3
  # Ping interval used for detecting client disconnections and saving precious resources
  #ping_interval: 300

  #advanced:
  #  buffer_size: 1536

#
# ttyd web terminal protocol configuration
#
ttyd:
  # Configuration for the Web-based client. This may or may not affect other clients.
  # You can specify any option documented here: https://xtermjs.org/docs/api/terminal/interfaces/iterminaloptions/
  web_config:
    disableLeaveAlert: true

#
# Debugging configuration
#
debug:
  # Enable debug strings on uart_debug
  enable: false

  # Also enable benchmarking debug strings
  # benchmark: false

  # Decoder used by `pio device monitor`
  # By default it's autodetected based on used mcu, but you can overwrite it below.
  # More info: https://docs.platformio.org/en/latest/core/userguide/device/cmd_monitor.html#cmd-device-monitor-filters
  #            https://www.dzombak.com/blog/2021/10/esp8266-platformio-serial-console-monitoring-with-exception-decoding
  # exception_decoder: esp8266_exception_decoder, default

#
# Build configuration
#
build:
  # By default release build is used, but when you plan to use `pio debug` or `pio device monitor` then change it to debug!
  # More info: https://docs.platformio.org/en/latest/projectconf/build_configurations.html
  #            https://docs.platformio.org/en/latest/core/userguide/cmd_debug.html#cmd-debug
  type: release

  # Linker used in build process.
  # If not specified, it guesses based on the value of board.flash_size.
  # ldscript: eagle.flash.4m.ld

  # By default use latest version of ESPAsyncWebServer, but if you decided to use depau old version
  # with some additionl patches then below flag need to be true.
  # legacy_lib: false
