html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#terminal-container {
  flex: 1;
  overflow: hidden;
}

#terminal-container .terminal {
  padding: 5px;
  height: calc(100% - 10px);
}

// .xterm .xterm-screen canvas {
//   //border: 1px solid red;
//   border: 1px solid #666;
// }